.background {
  background-color: #343d4c;
}

p {
  font-family: sans-serif, Arial, Georgia;
  color: white;
}

.bigimage {
  text-align: center;
}

.age-graph {
  height:5px;
  width: 2px;
  }

.heading {
  font-size: 30px;
  font-weight: bold;
  font-style: italic;
  color: #d73445;
}

.quote {
  font-size: 20px;
  color: #d73445;
  font-weight: bold;
  font-style: italic;
  font-family: Georgia;
}