body {
	font-family: Open Sans, Arial, sans-serif;
	font-size: 1em;
	color: #444;
	font-weight: 400;
}

#container {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	padding-bottom: 50px;
}

#name {
	font-size: 3em;
	color: #33485e;
	text-transform: uppercase;
	border-bottom: 1px #33485E solid;
	width: 60%; 
	min-width: 300px;
	margin: 0px;
	align-content: auto center;
}

<!-- come back and figure out center -->

img{
	display: none;
}

#title{
	text-transform: lowercase;
	font-size: 1em;
	color: #33485e;
	margin-top: 20 px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	font-weight: 600px;
	align-content: center;
}

.sectionheader {
	font-size: 1.5em;
	text-transform: uppercase;
	background-color: #33485e;
	color: white;
	font-weight: 400;
	margin-bottom: 10px;
	margin-top: 20px;
	margin-right: 0 px;
	margin-left: 0 px;
	width: 70%;
	min-width: 300 px;
}

.jobtitle {
	font-weight: 600;
	font-size: 1.5em;
	margin: 0 px;
}

.organization{ 
	font-weight: 400;
	font-size: 1.25em;
	margin: 0 px;
}

.date {
	font-weight: 400;
	font-style: italic;
	font-size: 1em;
	margin-top: 2 px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
}

.description {
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 0px;
	margin-right: 0px;
}

.menu {
font-size: 1em;
margin: 0px;
padding: 0px;
align-content: center;
display: inline;
}

#degrees {
margin-top: 5px;
margin-bottom: 0px;
margin-right: 0px;
margin-left: 0px;
}

#do {
	margin-top: 5px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
}

.top  {
	width: 60%;
	min-width: 300px;
	margin: 0 auto;
	margin-bottom: 30px;
}


